{% extends 'base.html' %}


{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quidem, laudantium, magnam perspiciatis exercitationem cumque autem quaerat cupiditate et totam rerum sequi, sed doloremque molestiae! Error, eos quo! Fugit alias tenetur ipsa, delectus fugiat consequuntur assumenda sint similique beatae, sequi laudantium cupiditate id blanditiis laboriosam in? Quidem, temporibus earum, mollitia, inventore minima molestias dolorem architecto commodi nesciunt modi asperiores veniam iste! Unde porro ut a neque iste. Quo optio mollitia esse molestias maxime, omnis, officia exercitationem explicabo sit accusamus ipsum pariatur corrupti! Facilis possimus ea nemo esse sequi excepturi ab eius hic iure a. Exercitationem molestiae eveniet aperiam enim nemo?</p>

{% endblock %}